DJANGO_SECRET_KEY=PASTE_NEW_DJANGO_SECRET_KEY
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=you@example.com
EMAIL_HOST_PASSWORD=PASTE_NEW_GMAIL_APP_PASSWORD
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=you@example.com
CONTACT_RECIPIENT_EMAIL=you@example.com

GITHUB_TOKEN=PASTE_NEW_GITHUB_TOKEN
